/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/open-sans-v43-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/open-sans-v43-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/poppins-v23-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/poppins-v23-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/poppins-v23-latin-600.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("./assets/fonts/poppins-v23-latin-600.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-violet-700: hsl(257, 40%, 49%);
    --clr-violet-500: hsl(300, 69%, 71%);

    --font-main: "Open Sans", sans-serif;
    --font-accent: "Poppins", sans-serif;
    --font-normal: 400;
    --font-semi-bold: 600;

    --leading-none: 1;

    --rounded-full: 9999px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
.sr-only {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
body {
    background-image: url("./assets/images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    line-height: var(--leading-none);
    font-family: var(--font-main);
    background-color: var(--clr-violet-700);
    min-height: 100vh;
    padding-inline: 2.5rem;
}
.header__layout,
.main__layout,
.footer__layout {
    margin: 0 auto;
    max-width: 80rem;
}
.header {
    padding-top: clamp(2rem, 0.688rem + 5.598vw, 3.375rem);
    padding-bottom: clamp(3.75rem, 2.2591rem + 6.3613vw, 5.3125rem);
}
.header__link {
    display: block;
    width: fit-content;
}
.header__logo {
    height: clamp(2rem, 0.688rem + 5.598vw, 3.375rem);
}
.main__layout {
    display: grid;
    justify-content: center;
    max-width: 35rem;
}
.main__image {
    padding-left: 0.1875rem;
    padding-right: 0.125rem;
}
.intro {
    z-index: 999;
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.intro__headline {
    font-family: var(--font-accent);
    font-weight: var(--font-semi-bold);
    font-size: clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);
    line-height: clamp(2.25rem, 0.8187rem + 6.1069vw, 3.75rem);
    margin-bottom: clamp(0.8125rem, 0.395rem + 1.7812vw, 1.25rem);
    letter-spacing: -0.01em;
    max-width: 20ch;
}
.intro__description {
    line-height: clamp(1.5rem, 1.3211rem + 0.7634vw, 1.6875rem);
    font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
    margin-bottom: 1.5rem;
    max-width: 50ch;
}
.intro__register-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--clr-white);
    color: var(--clr-violet-700);
    border-radius: var(--rounded-full);
    font-family: var(--font-accent);
    font-size: clamp(0.75rem, 0.3922rem + 1.5267vw, 1.125rem);
    padding-top: clamp(0.9375rem, 0.7586rem + 0.7634vw, 1.125rem);
    padding-bottom: clamp(0.8125rem, 0.395rem + 1.7812vw, 1.25rem);
    width: 12.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 6px 12px 2px;
    transition-property: transform, background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}
.footer {
    padding-top: 4rem;
    padding-bottom: 2.5rem;
}
.footer__layout {
    display: flex;
    justify-content: center;
}
.social__list {
    list-style: none;
    padding-left: 0;
    display: grid;
    gap: clamp(0.625rem, 0.2672rem + 1.5267vw, 1rem);
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
}
.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(1.75rem, 1.0344rem + 3.0534vw, 2.5rem);
    aspect-ratio: 1/1;
    border-radius: var(--rounded-full);
    border: 1px solid var(--clr-white);
    transition-property: border-color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}
.social__link svg {
    width: clamp(0.875rem, 0.6961rem + 0.7634vw, 1.0625rem);
    aspect-ratio: 1 / 1;
}
.social__link path {
    transition: fill 200ms ease;
    fill: var(--clr-white);
}
@media (hover: hover) {
    .intro__register-btn:hover {
        background-color: var(--clr-violet-500);
        color: var(--clr-white);
    }
    .social__link:hover {
        border-color: var(--clr-violet-500);
        background-color: var(--clr-violet-500);
    }
}
@supports selector(:focus-visible) {
    a:focus-visible {
        outline: 3px dashed var(--clr-white);
        outline-offset: 3px;
    }
}
@media screen and (min-width: 60em) {
    body {
        background-image: url("./assets/images/bg-desktop.svg");
    }
    .header__link {
        margin-left: -0.6875rem;
    }
    .main__layout {
        grid-template-columns: auto 32.8125rem;
        gap: 4rem;
        max-width: none;
    }
    .intro {
        align-items: start;
        text-align: start;
    }
    .footer__layout {
        justify-content: end;
    }
    .intro__register-btn {
        margin-bottom: 4rem;
    }
}
